{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="jumbotron border border-warning rounded">
    <div class="text-success text-center">
        <h1  class="text-dark">You're Editing The Following Restaurant</h1>
        <h2  class="text-dark">{{ restaurant.name }}</h2>
    </div>
    <div>
        <form action="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}" method="POST">
            <p class="text-dark">Name:</p>
            <input type="text" name="editedName" placeholder="{{ restaurant.name }}"  class="form-control form-control-lg mb-3">

            <input type="submit" value="Edit" class="btn btn-success btn-lg btn-block mb-3">
        </form>
    </div>
    <a href="{{url_for('index')}}" class="btn btn-outline-warning btn-lg btn-block">Cancel</a>
</div>
{% endblock %}