{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}


    {% for message in messages %}
    <div class="p-3 mb-2 alert alert-success mt-3"> <strong> {{ message }} </strong> </div>
    {% endfor %}

    {% endif %}
    {% endwith %}


    <hr>
</div>
<div class="row">
    {%include 'sidebar.html'%}
    
    <div class="col-8">
        <h1 class="rounded-pill bg-success text-light text-center">Recent Menus added</h1>
        {% for i in items %}
        <div class="card m-1 bg-light text-dark border border-success rounded-lg">
            <div class="card-body">
                <h4 class="card-title">{{i.name}}</h4>
                <p class="card-text">{{i.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">{{i.price}}</li>
                <li class="list-group-item bg-light">{{i.course}}</li>
            </ul>

            {% if auth %}
            <a href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}"
                class="btn btn-warning btn-lg btn-block">Edit</a>
            <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}"
                class="btn btn-danger btn-lg btn-block">Delete</a>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
{%endblock%}